.Onepage {
   /* Home */
   position: relative;
   width: 1680px;
   height: 7530px;
   overflow-y: scroll;
   //opacity: 0.5;
}

.desktop-header {
    width: 1680px;
    height: 86px;
    top: -27px;
}

.destop-header-header {
    width: 1680px;
    height: 64.04px;
    top: 21.96px;
}

.reactangle1 {
    /* Rectangle 1 */
    position: absolute;
    width: 1680px;
    height: 64.04px;
    top: 21.96px;
    background-color: #09438D;
}

.desktop-header-text {
    position: absolute;
    font-family: 'Volkhov';
    font-weight: 400;
    size: 16px;
    line-height: 20.64px;
    color: #FFFFFF;
}

.desktop-header-imgphone {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 16px;
    left: 339px;
}

.desktop-header-facebook {
    position: absolute;
    width: 54px;
    height: 55px;
    top: 4px;
    left: 1371px;
}

.desktop-header-line {
    position: absolute;
    width: 44px;
    height: 45px;
    top: 8px;
    left: 1430px;
}

.reactangle31 {
    /* Rectangle 31 */
    position: absolute;
    width: 3px;
    height: 41px;
    left: 1496px;
    top: 8px;
    background: #D9D9D9;
}

.desktop-header-language {
    position: absolute;
    width: 43px;
    height: 44px;
    top: 8px;
    left: 1522px;
    border-radius: 50px;
}

.Navbar-Header {
    width: 1680px;
    height: 107px;
    top: 53px;
    left: -1px;
    background-color: #FFFFFF;
}

.logo {
    width: 169px;
    height: 90px;
    top: 64px;
    left: 84px;
}

.Group-text-navbar {
    width: 777px;
    height: 25.11px;
    top: 94.86px;
    left: 459px;
}

.navbar-home {
    position: absolute;
    width: 59.03px;
    height: 25.11px;
    top: 94.86px;
    left: 459px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2040D5;
}

.navbar-package {
    position: absolute;
    width: 87.32px;
    height: 25.11px;
    top: 94.86px;
    left: 620.11px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.navbar-message {
    position: absolute;
    width: 82.4px;
    height: 25.11px;
    top: 94.86px;
    left: 786.75px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.navbar-aboutus {
    position: absolute;
    width: 116px;
    height: 24.9px;
    top: 95px;
    left: 950px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.navbar-contactus {
    position: absolute;
    width: 116px;
    height: 24.9px;
    top: 94.86px;
    left: 1120px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.button-login {
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: Fixed (142px);
    height: Hug (40px);
    top: 89px;
    left: 1411px;
    border-radius: 30px;
}

.button-login-base {
    width: Fixed (142px);
    height: Hug (40px);
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    gap: 8px;
    border: 1px solid #EE3646;
    background: #FFF;

}

.button-login-text {
    width: 66px;
    height: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #494949;
}

.Home {
    width: 1680px;
    height: 819px;
    top: -5969px;
    left: 1996px;
}

.home-background {
    width: 1680px;
    height: 819px;
    top: -5969px;
    left: 1996px;
    background: linear-gradient(0deg, #000 0%, #000 100%), lightgray 50% / cover no-repeat;
}

.reactangle26 {
    position: absolute;
    width: 321px;
    height: 33px;
    top: 296px;
    left: 115px;
    border-radius: 20px;
    background: #A0A0A0;
}

.reactangle27 {
    position: absolute;
    width: 60px;
    height: 23px;
    top: 302px;
    left: 122px;
    border-radius: 20px;
    background: #F8F8F8;
}

.reactangle27-text {
    position: absolute;
    width: 37px;
    height: 32px;
    top: 297px;
    left: 132px;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #616161;
}

.reactangle26-text {
    position: absolute;
    width: 213px;
    height: 32px;
    top: 296px;
    left: 193px;
    font-family: 'DM Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.home-group-header-text {
    position: absolute;
    width: 834px;
    height: 215px;
    top: 348px;
    left: 114px;
}

.home-group-header-text-detail {
    width: 834px;
    height: 215px;
    font-family: 'DM Sans';
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #FFFFFF;
}

.group1000003687 {
    width: 177px;
    height: 121px;
    top: 613px;
    left: 376px;
    flex-shrink: 0;
}

.image225-text {
    position: absolute;
    width: 117px;
    height: 66px;
    top: 613px;
    left: 412px;
    font-family: 'DM Sans';
    font-size: 23px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.image225 {
    position: absolute;
    width: 25px;
    height: 30px;
    top: 627px;
    left: 379px;
    flex-shrink: 0;
}

.image227 {
    position: absolute;
    width: 32px;
    height: 28px;
    top: 687px;
    left: 376px;

}